* {
	margin: 0;
	padding: 0;
	font-family: Montserrat;
}

nav {
	background-color: rgb(44, 48, 57);
}

.navbar-brand {
	font-family: Concert One;
	font-size: 25px;
}

.collapse {
	padding-top: 10px;
}

.navbar-nav {
	text-align: right;
	padding-left: 10px;
}

.home {
	margin: auto;
	font-family: Palette Mosaic;
	background-color: lightpink;
}

.home-info {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;

}

.profile {
  border-radius: 10px;
  padding: 10px;
  width: 150px;
}

.btn {
	justify-content: center;
	background-color: rgb(220, 105, 19);
	border: none;
}

.about-me {
	text-align: center;
	padding: 5px;
	margin: 50px 10px;
}

#projects {
		margin: 50px 10px;
}

.h1-project	{
	text-align: center;
}


.project-picture {
	height: 350px;
	margin: auto;

}

#contact {
	background-color: rgb(233, 236, 239);
	padding: 30px 30px;
	margin: 50px 0px;

}


h4 {
	color: gray;
}

.form-group {
	width: auto;
	display: flex;
	flex-direction: column;

}

.form-control {
	align-items: center;
}



.map-responsive {
		display: flex;
		justify-content: center;
    overflow:hidden;
    padding: 40%;
    margin-top: 30px;
    position:relative;

}

.map-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    margin: auto;
    border: none;

}

.footer {
	background-color: rgb(220, 221, 222);
	height: auto;
	padding: 5px;

}

.f-links {
	padding: 5px;
	font-size: 12px;
	text-decoration: none;
	color: black;
}

a.f-links:hover {
	color: pink;	
	text-decoration: none;
}


.f-logo {
	width: 15px;

}

@media (min-width: 768px) {
	#contact {
	display: flex;
	flex-direction: column;
	padding: 30px 30px;
	margin: 50px 0px;
}




}
